---
import DashboardLayout from "../layouts/DashboardLayout.astro";
import ProfileManager from "../components/admin/ProfileManager";
---

<DashboardLayout title="Mi Perfil">
    <div class="mb-6">
        <h1 class="text-2xl font-bold text-slate-800">Gestionar mi Perfil</h1>
        <p class="text-slate-500">
            Actualiza tu información personal y configuración de cuenta.
        </p>
    </div>

    <ProfileManager client:load />
</DashboardLayout>
