@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    /* Add more custom colors here for premium feel */
  }

  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}
